<title>
  Microsoft Teams Hello World Sample App
</title>
<link rel="stylesheet" type="text/css" href="/styles/msteams-16.css">
</link>
<link rel="stylesheet" type="text/css" href="/styles/custom.css">
</link>
<script src="https://unpkg.com/@microsoft/teams-js/dist/MicrosoftTeams.min.js" crossorigin="anonymous"></script>
<script src="/scripts/teamsapp.js"></script>