<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>

<body class="theme-light">
  <div class="surface">
    <div class="panel">
      <div class="font-semibold font-title">Autorepair Specialists
        <p> <%=message %></p>
      </div>
        <a href="/">Home</a>&nbsp;       
  </div>
  </div>
</body>
</html>