<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
  <style>
   html {
    font: 100% sans-serif;
    overflow: auto;
    padding: 0.1in;
   }
   header h1 {
    color: rgb(255, 255, 255);
    background: rgb(70, 78, 184);
    border-radius: 0.25em;
    margin: 0px 0px 1em;
    padding: 0.5em 1em;
    }
    h1 {
    letter-spacing: 0.2em;
    text-align: left;
    text-transform: uppercase;
    font: bold 100% sans-serif;
    }
    table {
      border-collapse: separate;
      border-spacing: 2px;
      table-layout: fixed;
    }
    td {
      display: table-cell;
      vertical-align: inherit;
      border-color: rgb(221, 221, 221);
   }
   th, td {
    border-radius: 0.25em;
    border-style: solid;
    position: relative;
    text-align: left;
    border-width: 1px;
    padding: 0.5em;
   }
   .btn-block {
    text-align: left;
   }
   button {
    width: 150px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 5px;
    background: rgb(68, 68, 68);
  }
  </style>
</head>

<body>
  <header>
    <h1>PAYMENT ACKNOWLEDGEMENT</h1>
  </header>
  <div class="surface">

    <div class="font-semibold">
      <p> <%=message %></p>
    </div>

    <table class="meta" id="table1">
      <tbody><tr id="id1">
        <th><span contenteditable="">Payment status</span></th>
        <td><span contenteditable=""><%=status %></span></td>
      </tr>
      <tr>
        <th><span contenteditable="">Transaction ID</span></th>
        <td><span contenteditable=""><%=transactionId %></span></td>
      </tr> 
    </tbody></table>
    <div id="message" class="errorMessage"></div>
    <div class="panel">
        <a href="/">Home</a>&nbsp;       
    </div>  
  </div>
</body>
</html>
